* {
	margin: 0;
	padding: 0;	
	background-color: #BF4342;
	text-align: center;
	color: #E7D7C1;
}

#body {
	background-color: #BF4342;
}

h1, p{
	background-color: #735751;
	text-align: center;
	width: 80%;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 10px;
}

h2, strong{
	border: 1px solid #735751;
	background-color: #8C1C13;
	text-align: center;
	width: 50%;
	display: block;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 10px;
}

footer>p{
	position: absolute;
	bottom: 0;
	min-width:100%;
	width: auto!important;
	justify-content: center;
	/*height: 4em;*/
}

button {
	padding: .5em;
	margin: 2em 0 1em;
	color: red;
	background-color: gold;
	font-size: 1.1em;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
}

img {
	height: 20vh;
}
